In [167]:
import numpy as np
import pandas as pd

In [168]:
!pip install geopandas
import geopandas as gpd

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: geopandas in /usr/local/lib/python3.7/dist-packages (0.10.2)
Requirement already satisfied: pyproj>=2.2.0 in /usr/local/lib/python3.7/dist-packages (from geopandas) (3.2.1)
Requirement already satisfied: pandas>=0.25.0 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.3.5)
Requirement already satisfied: shapely>=1.6 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.8.2)
Requirement already satisfied: fiona>=1.8 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.8.21)
Requirement already satisfied: click-plugins>=1.0 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (1.1.1)
Requirement already satisfied: click>=4.0 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (7.1.2)
Requirement already satisfied: six>=1.7 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (1.15.0)
Requirement already satisfied: munch in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (2.5.0)
Requirement already satisfied: cligj>=0.5 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (0.7.2)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (57.4.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (2022.6.15)
Requirement already satisfied: attrs>=17 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (21.4.0)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (1.21.6)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (2022.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (2.8.2)

In [169]:
water_stress = pd.read_csv('water_stress.csv')

In [170]:
water_stress_2017 = water_stress[water_stress.Year == 2017]

In [171]:
water_stress_2017.rename(columns = {'Annual freshwater withdrawals, total (% of internal resources)':'percent'}, inplace = True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:5047: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [172]:
conditions = [
    (water_stress_2017['percent'] < 10),
    (water_stress_2017['percent'] < 20),
    (water_stress_2017['percent'] < 40),
    (water_stress_2017['percent'] < 80),
    (water_stress_2017['percent'] >= 80)
]

values = ['Low stress', 'Low-to-medium stress', 'Medium-to-high stress', 'High stress', 'Extremely high stress']

water_stress_2017['level'] = np.select(conditions, values)

water_stress_2017.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

                         Entity Code  Year    percent                  level
8                   Afghanistan  AFG  2017  43.015907            High stress
13  Africa Eastern and Southern  NaN  2017   4.868366             Low stress
20   Africa Western and Central  NaN  2017   1.592573             Low stress
26                      Albania  ALB  2017   4.416357             Low stress
36                      Algeria  DZA  2017  87.128889  Extremely high stress

In [173]:
countries = gpd.read_file('countries.geojson')
countries.head()

         ADMIN ISO_A3                                           geometry
0        Aruba    ABW  POLYGON ((-69.99694 12.57758, -69.93639 12.531...
1  Afghanistan    AFG  POLYGON ((71.04980 38.40866, 71.05714 38.40903...
2       Angola    AGO  MULTIPOLYGON (((11.73752 -16.69258, 11.73851 -...
3     Anguilla    AIA  MULTIPOLYGON (((-63.03767 18.21296, -63.09952 ...
4      Albania    ALB  POLYGON ((19.74777 42.57890, 19.74601 42.57993...

In [174]:
waterstress = countries.merge(water_stress_2017, how='outer', left_on='ISO_A3', right_on='Code')

In [175]:
waterstress = waterstress.dropna(subset=['ISO_A3'])

In [176]:
len(waterstress[waterstress.level == 'Extremely high stress'])

23

In [177]:
waterstress[waterstress.level == 'Extremely high stress']

,ADMIN,ISO_A3,geometry,Entity,Code,Year,percent,level
7,United Arab Emirates,ARE,"MULTIPOLYGON (((53.86305 24.23469, 53.88860 24...",United Arab Emirates,ARE,2017.0,1708.000000,Extremely high stress
33,Azerbaijan,AZE,"MULTIPOLYGON (((45.07500 39.74982, 45.14125 39...",Azerbaijan,AZE,2017.0,157.505853,Extremely high stress
40,Bahrain,BHR,"POLYGON ((50.55161 26.19424, 50.59474 26.16031...",Bahrain,BHR,2017.0,3877.500000,Extremely high stress
49,Barbados,BRB,"POLYGON ((-59.42691 13.16039, -59.43004 13.125...",Barbados,BRB,2017.0,87.500000,Extremely high stress
77,Algeria,DZA,"POLYGON ((8.60251 36.93951, 8.60566 36.91305, ...",Algeria,DZA,2017.0,87.128889,Extremely high stress
79,Egypt,EGY,"MULTIPOLYGON (((34.00294 26.73163, 34.00359 26...",Egypt,EGY,2017.0,6420.000000,Extremely high stress
118,Iraq,IRQ,"POLYGON ((42.89674 37.32491, 42.93705 37.32015...",Iraq,IRQ,2017.0,109.482955,Extremely high stress
120,Israel,ISR,"POLYGON ((35.80363 33.24846, 35.80766 33.20172...",Israel,ISR,2017.0,159.733333,Extremely high stress
124,Jordan,JOR,"POLYGON ((39.04633 32.30849, 39.23578 32.35286...",Jordan,JOR,2017.0,132.492669,Extremely high stress
137,Libya,LBY,"POLYGON ((19.29168 30.28705, 19.33855 30.29881...",Libya,LBY,2017.0,817.142857,Extremely high stress
156,Malta,MLT,"MULTIPOLYGON (((14.56715 35.84561, 14.56178 35...",Malta,MLT,2017.0,85.148515,Extremely high stress
162,Mauritania,MRT,"MULTIPOLYGON (((-16.39452 19.59992, -16.39769 ...",Mauritania,MRT,2017.0,337.050000,Extremely high stress
179,Oman,OMN,"MULTIPOLYGON (((55.89080 17.50454, 55.87582 17...",Oman,OMN,2017.0,116.714286,Extremely high stress
180,Pakistan,PAK,"MULTIPOLYGON (((67.47779 24.05121, 67.48536 24...",Pakistan,PAK,2017.0,363.636364,Extremely high stress
194,Qatar,QAT,"POLYGON ((51.21526 24.62585, 51.14745 24.57628...",Qatar,QAT,2017.0,447.857143,Extremely high stress
199,Saudi Arabia,SAU,"MULTIPOLYGON (((41.89847 16.75148, 41.90514 16...",Saudi Arabia,SAU,2017.0,883.333333,Extremely high stress
200,Sudan,SDN,"MULTIPOLYGON (((37.26450 20.74999, 37.25441 20...",Sudan,SDN,2017.0,673.375000,Extremely high stress
203,Singapore,SGP,"POLYGON ((103.96079 1.39110, 103.98569 1.38544...",Singapore,SGP,2017.0,82.016667,Extremely high stress
221,Syria,SYR,"POLYGON ((42.23683 37.28630, 42.26722 37.27452...",Syria,SYR,2017.0,195.799215,Extremely high stress
227,Turkmenistan,TKM,"MULTIPOLYGON (((53.10206 38.75507, 53.09474 38...",Turkmenistan,TKM,2017.0,1983.274021,Extremely high stress
231,Tunisia,TUN,"MULTIPOLYGON (((10.92994 33.89631, 10.95973 33...",Tunisia,TUN,2017.0,113.659118,Extremely high stress
241,Uzbekistan,UZB,"MULTIPOLYGON (((71.75730 39.90310, 71.74180 39...",Uzbekistan,UZB,2017.0,360.465116,Extremely high stress
251,Yemen,YEM,"MULTIPOLYGON (((53.30824 12.11839, 53.31027 12...",Yemen,YEM,2017.0,169.761905,Extremely high stress

In [178]:
len(waterstress[waterstress.level == 'High stress'])

14

In [179]:
waterstress[waterstress.level == 'High stress']

,ADMIN,ISO_A3,geometry,Entity,Code,Year,percent,level
1,Afghanistan,AFG,"POLYGON ((71.04980 38.40866, 71.05714 38.40903...",Afghanistan,AFG,2017.0,43.015907,High stress
9,Armenia,ARM,"MULTIPOLYGON (((45.54717 40.62155, 45.51369 40...",Armenia,ARM,2017.0,41.769937,High stress
111,Hungary,HUN,"POLYGON ((20.98149 48.51686, 21.00650 48.51815...",Hungary,HUN,2017.0,74.983333,High stress
114,India,IND,"MULTIPOLYGON (((93.85532 7.21418, 93.86500 7.2...",India,IND,2017.0,44.778700,High stress
117,Iran,IRN,"MULTIPOLYGON (((55.05437 25.86461, 55.04648 25...",Iran,IRN,2017.0,72.334630,High stress
131,Saint Kitts and Nevis,KNA,"MULTIPOLYGON (((-62.54760 17.10464, -62.56574 ...",Saint Kitts and Nevis,KNA,2017.0,50.833333,High stress
132,South Korea,KOR,"MULTIPOLYGON (((126.82337 33.55944, 126.83522 ...",South Korea,KOR,2017.0,45.022359,High stress
149,Moldova,MDA,"POLYGON ((27.60687 48.45782, 27.62703 48.45126...",Moldova,MDA,2017.0,51.851852,High stress
169,Niger,NER,"POLYGON ((14.21622 22.61630, 14.23172 22.61795...",Niger,NER,2017.0,49.920000,High stress
174,Netherlands,NLD,"MULTIPOLYGON (((-68.23729 12.02680, -68.24254 ...",Netherlands,NLD,2017.0,72.621818,High stress
210,Somalia,SOM,"POLYGON ((50.79786 11.98912, 50.86706 11.94289...",Somalia,SOM,2017.0,54.966667,High stress
212,Republic of Serbia,SRB,"POLYGON ((19.69009 46.16840, 19.71189 46.15871...",Serbia,SRB,2017.0,63.958606,High stress
218,Swaziland,SWZ,"POLYGON ((31.86336 -25.98994, 31.89188 -25.983...",Eswatini,SWZ,2017.0,40.454545,High stress
252,South Africa,ZAF,"MULTIPOLYGON (((37.86378 -46.94085, 37.83644 -...",South Africa,ZAF,2017.0,43.258929,High stress

In [180]:
waterstress.to_file('waterstress.geojson', driver='GeoJSON')

In [181]:
conflicts = pd.read_csv('conflicts.csv')

In [182]:
conflicts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 926 entries, 0 to 925
Data columns (total 13 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Start                              926 non-null    int64
 1   End                                926 non-null    int64
 2   Date text                          926 non-null    object
 3   Date (for research purposes only)  264 non-null    object
 4   Region                             926 non-null    object
 5   Country                            926 non-null    object
 6   Lat                                926 non-null    float64
 7   Long                               926 non-null    object
 8   Basis                              926 non-null    object
 9   Headline                           925 non-null    object
 10  Description                        926 non-null    object
 11  Sources                            926 non-null    object
 12  Unnamed: 12                        0 non-null      float64
dtypes: float64(2), int64(2), object(9)
memory usage: 94.2+ KB

In [183]:
conflicts["Long"] = pd.to_numeric(conflicts.Long, errors='coerce')

In [184]:
conflicts_2017 = conflicts[conflicts.Start == 2017]

In [185]:
conflicts_2017.Country.value_counts()

Yemen                           27
Somalia                          8
South Africa                     7
Sudan                            6
Syria                            4
Algeria                          4
Guinea                           4
Iraq                             4
South Sudan                      3
Kenya                            3
Ukraine                          2
Ghana                            2
Afghanistan                      1
Palestine                        1
Bangladesh                       1
India                            1
Jordan                           1
Morocco                          1
Tunisia                          1
Mali                             1
Egypt                            1
Democratic Republic of Congo     1
Nigeria                          1
Mexico                           1
Guatemala                        1
Name: Country, dtype: int64

In [186]:
overlap_extreme = conflicts_2017[conflicts_2017['Country'].isin(['United Arab Emirates', 'Azerbaijan', 'Bahrain', 'Barbados', 'Algeria', 'Egypt', 'Iraq', 'Israel', 'Jordan', 'Libya', 'Malta', 'Mauritania', 'Oman', 'Pakistan', 'Qatar', 'Saudi Arabia', 'Sudan', 'Singapore', 'Syria', 'Turkmenistan', 'Tunisia', 'Uzbekistan', 'Yemen'])]
len(overlap)

48

In [187]:
overlap_extreme.Country.value_counts()

Yemen      27
Sudan       6
Syria       4
Algeria     4
Iraq        4
Egypt       1
Tunisia     1
Jordan      1
Name: Country, dtype: int64

In [188]:
overlap_high = conflicts_2017[conflicts_2017['Country'].isin(['Afghanistan', 'Armenia', 'Hungary', 'India', 'Iran', 'Saint Kitts and Nevis', 'South Korea', 'Moldova', 'Niger', 'Netherlands', 'Somalia', 'Republic of Serbia', 'Swaziland', 'South Africa'])]
len(overlap_high)

17

In [189]:
overlap_high.Country.value_counts()

Somalia         8
South Africa    7
Afghanistan     1
India           1
Name: Country, dtype: int64

In [190]:
geo_conflicts = gpd.GeoDataFrame(data=conflicts_2017, geometry=gpd.points_from_xy(x=conflicts_2017['Long'], y=conflicts_2017['Lat']), crs='epsg:4326')

In [192]:
geo_conflicts.to_file('geo_conflicts.geojson', driver='GeoJSON')